
p, h2, h6, i, a, li, h3 {
  font-family: "URW Gothic", sans-serif;
}

.purple, .mt-4, .d-inline{
  color: #ac5cf5;
}

.blue, .mb-0 {
  color: #92E8F8;
}

#navstyle {
  color: #ac80fb;
}

#navstyle {
  border-radius: 25px;

}

/* Style for Facebook icon */
.fab.fa-facebook-square {
    color: #3b5998; /* Facebook Blue - Change to any color you prefer */
}

/* Style for Instagram icon */
.fab.fa-instagram {
    color: #E1306C; /* Instagram Gradient Pink - Change to any color you prefer */
}

.btn-info, .btn-primary {
    background-color: transparent !important; /* Makes background transparent */
    border: none !important; /* Removes border */
}

