#header-pic {
  display: block;
  max-width: 100%;
  height: auto;
}

#gallery_btns {
  color: black;
}


.gallery-container {
  padding: 20px;
}
.gallery-item {
  margin-bottom: 20px;
}
.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.gallery-item img:hover {
  transform: scale(1.05);
}