.index-page {
  background-color: #f8f0f8; /* Slightly off-white color */
}

#header-pic {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#tagline, #nav-title {
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  /* Add other desired styles */
}

@media (max-width: 767px) and (orientation: portrait) {
  #header-pic {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
  }
}

@media (max-width: 930px) and (orientation: landscape) {
  #header-pic {
    display: block;
    max-width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
  }
}

#nav-title {
  font-size: large;
  width: auto;
  color: darkmagenta;
  text-decoration: none;
  white-space: nowrap;

}

.navbar .navbar-nav .nav-link p {
  white-space: nowrap;
  font-size: small;
}



/*HOVER Stuff*/

.nav-link:hover {
  background-color: #ded3e2; /* Change this to the shading color you want */
  border-radius: 5px;
}

#nav-title:hover {
  background-color: #dcd4dd; /* Change this to the shading color you want */
  border-radius: 5px;
}

/*END HOVER stuff*/

.navbar .container-fluid .font-weight-bolder {
  white-space: nowrap;
  width: 50px;
}

#gallery_btns {
  color: black;
}

.carousel-image {
  max-height: 500px; /* Adjust this value as needed */
  max-width: 100%;
  margin: auto;
}

/* For portrait mode on mobile devices */
@media (max-width: 767px) and (orientation: portrait) {
  .carousel-image {
    max-height: 300px; /* Adjust for portrait mode */
  }
}

/* For landscape mode on mobile devices */
@media (max-width: 930px) and (orientation: landscape) {
  .carousel-image {
    max-height: 250px; /* Adjust for landscape mode */
    max-width: 65%;

  }
}

.gallery-container {
  padding: 20px;
}
.gallery-item {
  margin-bottom: 20px;
}
.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.gallery-item img:hover {
  transform: scale(1.05);
}