asgiref==3.7.2
autopep8==2.0.4
dj-database-url==2.1.0
Django==5.0
django-environ==0.11.2
gunicorn==21.2.0
packaging==23.2
pycodestyle==2.11.1
pytz==2023.3.post1
setuptools==69.0.2
sqlparse==0.4.4
toml==0.10.2
typing_extensions==4.8.0
tzdata==2023.3
wheel==0.42.0
whitenoise==6.6.0
