{% block stylesheets %}
    <link href="{{ ASSETS_ROOT }}/css/base_styles.css" rel="stylesheet"/>{% endblock stylesheets %}

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed  position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid text-center" id="navstyle">
                    <a class="navbar-brand font-weight-bolder ms-sm-3"
                       href="{% url 'home' %}"
                       data-placement="bottom">
                        Second Chance Design
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon mt-2">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                      </span>
                    </button>

                    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">


                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="{% url 'home' %}#examples">
                                    <p class="d-inline text-sm z-index-1 font-weight-normal">
                                        See Our Work.
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="{% url 'about' %}">
                                    <p class="d-inline text-sm z-index-1 font-weight-normal">
                                        About Us</p>
                                </a>
                            </li>

                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="callto:+19842356288">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    <p class="d-inline text-sm z-index-1 font-weight-normal" data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Call">(984) 235-6288</p>
                                </a>
                            </li>

                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="mailto:emily@secondchance.design">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <p class="d-inline text-sm z-index-1 font-weight-normal"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Email">emily@secondchance.design</p>
                                </a>
                            </li>

                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2"
                                   href="https://www.facebook.com/profile.php?id=100083005111070">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <p class="d-inline text-sm z-index-1 font-weight-normal"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="FB"></p>
                                </a>
                            </li>

                            <li class="nav-item ms-lg-auto">
                                <a class="nav-link nav-link-icon me-2" href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <p class="d-inline text-sm z-index-1 font-weight-normal"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Insta"></p>
                                </a>
                            </li>

                        </ul>
                    </div>


                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>