<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="keywords" content="Furniture Refinishing, Furniture Restoration, Furniture Painting">
    <meta name="description" content="{% block meta_content %} {{ content }} {% endblock meta_content %}">
    <!-- Add canonical URL to avoid duplicate content issues -->
    <link rel="canonical" href="http://www.secondchance.design/" />

    <!-- Open Graph meta tags for social media -->
    <meta property="og:url" content="http://www.secondchance.design/" />
    <meta property="og:site_name" content="SecondChanceDesign" />
    <meta property="og:title" content="Second Chance Design - {% block title %}{% endblock %}" />
    <meta property="og:description" content="Second Chance Design: Custom Furniture Refinishing and Painting. Give Your Furniture a New Look." />
    <meta property="og:image" content="http://www.secondchance.design/static/assets/img/SecondChanceLogo.png" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />

    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="{{ ASSETS_ROOT }}/css/nucleo-icons.css" rel="stylesheet" />
    <link href="{{ ASSETS_ROOT }}/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/soft-design-system.css?v=1.0.1" rel="stylesheet" />

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock %}

    {% include "includes/scripts.html" %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}{% endblock %}

</body>

</html>
