{% extends 'layouts/base.html' %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="{{ ASSETS_ROOT }}/css/index_styles.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}

    <header class="header-2" style="padding: 5%">
        <div class="page-header section-height-50 relative">
            <img src="{{ ASSETS_ROOT }}/img/SecondChanceHeaderPic.png" id="header-pic"
                 alt="Second Chance Designs Header Image">
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mx-auto">
                <h1 class="text-white pt-3 mt-n5"
                    style="font-size: xxx-large">
                    <a class="text-black" target="_blank"
                       href="#"></a>
                </h1>

            </div>
        </div>
    </div>


    <!-- END Section Content -->
    <!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

    <div class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col ms-auto text-center">
                    <h4 class="mb-1" id="examples">Furniture Restoration & Custom Designs</h4>
                    <p class="lead mb-0">Keeping Memories Alive</p>
                </div>

            </div>
        </div>
    </div>
    <!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

    <div class="container text-center w-lg-50 " style="background-color: white; padding: 2%">

    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/NThC4ScLZt9ybLaM8"
         data-title="Second Chance Design"
         data-description="27 new items added to shared album">
        <object data="https://lh3.googleusercontent.com/JiObB4nnwmh70Jk5qgKzVhpM5BMJhQafIRSEetfP6OMZrk-9tTcUT_2-aQEuAlklENuZnQrul7wogXWUJWuG9YrZH8GBQtADi4M1FgNJr36a5a81gsVr3UBHEwr6M77fGiw8TlKXOg=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/vvzjDvjtCJ3DJnVUdb8owlHpR_o-Y533FqgXSyR3wiv5dUhbVRa3IUClHV8df7VXVRH1mpiPtjZVXvqUxau1dUg6xwVkOUdSDGRWIJ_M3U0bIgik3cB9c1d8UZWF7ngXYLr6faDkHg=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/jUTFNb-yN6pYeathh7YJM2yMxej2d3clBv3kyZpHD4uBXDzhaIK3sATN-AIsYD9H9XNpUJilRn5ZDYqpwY98HT4HRDrjZkRCMCvzNuv7OGvZmZbOLpoK_5XUzJCULXuGBWu9kihDaA=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/b6dFUqfA37gr6sUB2tuN4YJWg6ImAhk4FgzqDWy93so5BliHqrxRuLiVGnEQaUxLkKDMLSnF8itawb6vNygRlMYFdjfgD83p-pOAzyiFdl1puKp8C8QWgk_aZMcgNGUJ9B2Diaqq-A=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/cBD2z4Wpvj_wiNO-cXvrvsNP43yyzxn4Eq0ET6D3Ho4kTrQCObYYh6yb63oR9hGdfUgVjQHeKrq87ccFsBe9xi3YZFlqDSGjbR519oUG0Ir7QS8WEzPE6-h4cKBZhLlvYxE3khPsHwc=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/j0-QZJQBJ2-NDaVYQbEudXaBQhZN5PjirZbINqVKBP5KumC_rB-TOc5CUwqrjcyvGk0qSJ78j-GLlnaDQHFah6twHx08GFvnmuNw7U1JQH947nKEirDLvs9lgHPHjk3qSWOplnB_sZM=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/Cp204uDINCIsZhrcnm7XJdU4sj66hlOEkPxjvTb2ljsKCDL3AocuEB_NewOEadLsYGEFcpF7TAIFVEraDDAZ51SaXKu94TARudIJ_Caf5a84FjiWJ4xlbIAdFvtJTSUG8cY20OZJ8qc=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/PcC3wO6XshKElJDjzYW_7q8Jix9yuf-9qaZfjc_WS5GtKbTVt8VLbgTYOwJOLOG6QRrwdOJu7PTdZG2blNCV6W-Y5xogTMqoO1glGqB4PA4c7te9pOhSiqlFEs2EjBn2KZU-K1ohy-M=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/YRSS_2_k0HYG3OZeKlJEiDjBKf2VpLPDzjOYye8IygRLx5O0tHSiQl3bBi2-IV83Bvhgf4jRTONEDhAL-Q9DIvUH_VRz2qwjGMT3pdFyO85jbuOHvlc2Z_OWhpauup26OHEasfR9oQ=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/G9kuFPL_5omcP_FYAC_kjNqQwGimjjWmP99p0j3SFBrsjngn37LpQXxKDrsErhQKrG5QXOVY_cJBGuaL2J0MrDMt15ONj7lXjGr4VZrMqSKriYW6P4mFDqwU3M0_tobIrt87hpUiaA=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/ODbdZmYy6bjiUA37gFYY1MOR7SNMC4Z0g_6zTAO1O8z0Gkh91hIzP0W8KBsXRmGxktpBP-YAln0ldT1saqb2rgN5df4-EJM6Q0ebw-W3EHVHkRnqUhw2K7CSGwKwwEvxdHsyWje_Dg=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/Sr5ll-xI2EjdrIV2POeSHzpu5AhZNgxaTF5kO1U4DCLIjcoPkptNMf3rvTgkb-HIATxSxUbfAGys43x5Oo8ANnn-wWkZbDCI7mnFMTooOQ73pgq7g15MDYfLgVIqDBJiaHd4Z3r6Dg=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/-5iGBBoVnMa7nZ3uxuVq4F4hgfKaxhfxy5gorSNMufmySSCurDYwGmP5oNK5HUukJ_bAZ8NoDwYk-bIvyyk7xdMcamuRIWjAy4qR3-aUE6_jiDJGhcemUzzQIe2dz9v252J6zEZQOw=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/Cl0evXni4q0V63vazCCp9Buu4JQmyzJQSxt683MWdKzRtSBfmW5SzptX-D3TBLvDY0_x86NmKRShDNKJNLUfl5aQmtbMJdsCAix6O7mRoWBFyPtNfd78kKDqcYlK-SfaJjHHg_jtmw=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/E9-qA5q03wpMwUGycEUvQ2PkRIhy5FpLf8_fBR6bSeDFxZQ8ljR_W0mUquXPBqo24E2PzuxJv2mGz1suQ4OM33AaYaq4OLvbukRlgqU3Q897OOpYzs3hLraxpQzvOhXFjn75Tg0EWA=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/46jQhbRRPBUXmk5zseRzPJEEuZZPqHd6xDPxDwo36UuF1tGu_6syJ5FR1KuujoOeHSK1fTUgew3uKXcw0UO8c3rIZrEU6lFz--G0CbWVeDt3Fgot7rBiQCnfnwI_tUM4qUOkcxCs1g=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/6sSFMRRLkVpVeMz4uZBBJtIjKr7xYYyMI__saDojMGM5WpAoMv9Vytmf3xw3mRkD7zTfliEghZR9_9xsyQ5FFauHO0Bmn41Zt9RrX4aKgKDnc27Lom8urSut0mvoFylRg0iz-qdH7VU=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/Xl5FDk7pZfi0yRcrf0Ivq8tnlMZj4H_RgQtgP8BG1MkS4-FZz_S33pg-sXe7Wjr7RLlLxW54xJYmXGT9GG7sPCvMRB37483AiS70u1fgbWcxHmmdmlA3RRSHrJNbQUJveFfufx_uaqo=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/kqyTcx0vntsq73hlFd5ULS3al8MyHwJgg6OBefgl4gymL-27YL4O4y_YI2-o0WoeAQKwJN2UkCQaRF5zGzils9Jyi1dVHNyG-n1IRjA0VEwHrX5L-44K3HkCvsnE631ocXVl5nJ9lZM=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/5A_cj1djVqj7DIU51i81S9U3yglmEkYFmKHmP7_hWFSxedHhAwlZCH11rIOGol0RH7FskflAAm4SbbNHy4yk5vOxtS4cpYlouFFpRY1ueBTaWXPMLoLdyyTboZf2DwXP0RtaAnqlxho=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/N5DCLT_JEc6W8Qf8-2vDq8TB8Duh8Ien4UbcCW-YUZXg89ud0NbbzfaNQDCtqVZvC9mi5jNdpea_eVUjzmeWe3CUBymasVXZtkGcVgDDz8tiFxFsxDtcRvxW5d3JX26RVyL0TvU2oZY=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/l3mJOYqR7IIJ_1ElrVLYaqMOlv_iTCmOe9xhS21EBfzP4XAYP7S1W6UdWnhBkHemH00B7TiJrFsNVR6xJSvvDZ3gH2uvJTxxkYACCYlseVWSQSfgZC4RAzr-QhFMTUNJy8NARVgc8zA=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/zaJ5_3w7XXGl7rC_aq2V_s4feQp64LOhpyBT2eUvgaM62LcxoMBJoN_lI3LFl9ma8iPPYHYhr7IkIU7-ysCt7aIpC39q9rcBjrzC9bksre4f_Y036gjjQCy5BfCXXEdb9CiifGzbwIQ=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/jQxs7xVEQXwPnuONPs_KNAyFxK1uRXsUIHg8VicNLMf4Aq4wtV1nu-845NolfwQkqVF-TdBvQ7mPdPTDo1F86PsBEM3B8_1NP-qNBPPB1iXWLsVTWqaqI7sdDVHD3t-tB2gLr285Wx8=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/8COma6zvm3-lHrF40Q_kfTkPqkBwjmF44YNTeMFeu4NHjFTK5gFrPnCTz9I5KOo-bGH2qBymp6MpQlASZ0srxYnLtQfWM9Xv8sKEwv1ZjR8T5b7k_k9lhReKQriiVU5PA0ire8UbpFE=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/q6HAzmw-RWfSyyrZhFMBqmR110anV_13DoKHPPYSNixt7lAXmnmlYCpRmD4bnBwjseywLKWR4YvJ6ISKXGC5JVuUIgnDhY7Khpy0UYjAY7fCkQ5wfMFVrNKCd-iXIQsuT7tJqHPpXlQ=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/BKgaRJEe56c28vR0ckXFUHMw1FoCImBpt3aKerD3b1UlV14dzn-yi7P9fVEzAJdgPSAwPScSgnrPiLBy5Ee33KTJohij1jqL_YjKNdr2-jvMxn9B-kgU-owUJWUwEXrABeSOVHH04dk=w1920-h1080"></object>
    </div>


    <!-- Testimonies -->
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                    <h2 class="mb-0">Testimonies</h2>
                    <p class="lead">People all over the triangle enjoy our services.</p>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">S. Kolakowski </h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> Oct 10th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"I would not hesitate to recommend Emily for furniture
                                restoration/renovation. She has a natural talent for her craft and can give any piece a
                                new look and a new life-plus she is a delight to work with!!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">A. McCaskill </h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 15th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Very professional, great communication every step of the way, an eye for
                                design, and quick turn around time. We could not be happier with the finished project
                                and can’t believe how amazing it looks. She picked the perfect color and has a great
                                attention to detail. Highly recommend!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">E. Cielo</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 15th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Emily restored an end table for me a few years ago and it continues to be
                                one of my favorite pieces. It still looks as incredible as it did when I got it!She made
                                the process easy and her attention to detail is amazing. She matched the color I wanted
                                perfectly. She was even able to fix the imperfections on the top of the table.
                                Thank you, Emily, for the profession and friendly service too!
                                "</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">J. Ripple</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 7th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Emily painted a dresser for me. I am so pleased with how it turned out! She
                                had some trouble with the first paint I picked out and kept me informed each step of the
                                process. She was exceedingly professional and friendly.
                                Recommend highly!
                                "</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">J. Sutton</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 3rd 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"10/10 recommend! Beautiful work!!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">R. Celia</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> April 30th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Emily refurnished and painted a solid oak table for us, very friendly and
                                the table is very nice! Would definitely recommend and use the service again!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Social Media Buttons -->

    <div class="container">
        <div class="row">
            <div class="col h4 text-center">
                <h2 class="mb-0">Check Out Our Socials</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <p>
                    <a href="https://www.facebook.com/profile.php?id=100083005111070"
                       class="btn btn-info" target="_blank">
                        <i class="fab fa-facebook-square me-1"></i>
                    </a>
                </p>
            </div>

            <div class="col col-lg-2">
                <p>
                    <a href="#"
                       class="btn btn-primary" target="_blank">
                        <i class="fab fa-instagram me-1"></i>
                    </a>
                </p>
            </div>
        </div>


    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/rellax.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/tilt.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
    <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
    <script type="text/javascript">
        if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
                countUp.start();
            } else {
                console.error(countUp.error);
            }
        }
        if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
                countUp1.start();
            } else {
                console.error(countUp1.error);
            }
        }
        if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
                countUp2.start();
            } else {
                console.error(countUp2.error);
            }
            ;
        }
    </script>

{% endblock javascripts %}
