{% extends 'layouts/base.html' %}

{% load custom_filters %}

{% block title %}Furniture Refinishing{% endblock title %}
{% block meta_content %}Second Chance Design specializes in custom furniture refinishing, restoring the essence of old pieces into modern treasures, proudly serving Raleigh, NC, and surrounding areas.{% endblock meta_content %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="{{ ASSETS_ROOT }}/css/index_styles.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}
    <header class="header-2" style="padding: 5%">
        <div class="page-header section-height-50 relative">
            <img src="{{ ASSETS_ROOT }}/img/SC-Magnet.PNG" id="header-pic"
                 alt="Second Chance Designs Header Image">
        </div>

    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mx-auto">
                <h1 class="text-white pt-3 mt-n5"
                    style="font-size: xxx-large">
                    <a class="text-black" target="_blank"
                       href="#"></a>
                </h1>

            </div>
        </div>
    </div>


    <!-- END Section Content -->
    <!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

    <div class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col ms-auto text-center">
                    <p id="tagline" class="mt-4 font-weight-light">Second Chance Design specializes in custom furniture refinishing, restoring the essence of old pieces into modern treasures, proudly serving Raleigh, NC, and surrounding areas.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

    <div class="container text-center w-lg-50" id="examples" style="background-color: white; padding: 2%">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for index, image_url in images|enumerate %}
              <div class="carousel-item {% if index == 0 %}active{% endif %}">
                <img src="{{ image_url }}" class="d-block w-100 carousel-image" alt="Image">
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
        


    <!-- Testimonies -->
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center ">
                    <h2 class="blue mb-0">Testimonies</h2>
                    <p class="purple lead">People all over the triangle enjoy our services.</p>
                </div>
            </div>
            <div class="row mt-6 row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">S. Kolakowski </h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> Oct 10th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"I would not hesitate to recommend Emily for furniture
                                restoration/renovation. She has a natural talent for her craft and can give any piece a
                                new look and a new life-plus she is a delight to work with!!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">A. McCaskill </h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 15th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Very professional, great communication every step of the way, an eye for
                                design, and quick turn around time. We could not be happier with the finished project
                                and can’t believe how amazing it looks. She picked the perfect color and has a great
                                attention to detail. Highly recommend!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">E. Cielo</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 15th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Emily restored an end table for me a few years ago and it continues to be
                                one of my favorite pieces. It still looks as incredible as it did when I got it!She made
                                the process easy and her attention to detail is amazing. She matched the color I wanted
                                perfectly. She was even able to fix the imperfections on the top of the table.
                                Thank you, Emily, for the profession and friendly service too!
                                "</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">J. Ripple</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 7th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Emily painted a dresser for me. I am so pleased with how it turned out! She
                                had some trouble with the first paint I picked out and kept me informed each step of the
                                process. She was exceedingly professional and friendly.
                                Recommend highly!
                                "</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">J. Sutton</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> May 3rd 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"10/10 recommend! Beautiful work!!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="card card-plain">
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                    <h6 class="mb-0 font-weight-bolder">R. Celia</h6>
                                    <div class="stats">
                                        <i class="far fa-clock"></i> April 30th 2022
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">"Emily refurnished and painted a solid oak table for us, very friendly and
                                the table is very nice! Would definitely recommend and use the service again!"</p>
                            <div class="rating mt-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Social Media Buttons -->

    <div class="container">
        <div class="row">
            <div class="col h4 text-center">
                <h2 class="mb-0">Check Out Our Socials</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <p>
                    <a href="https://www.facebook.com/profile.php?id=100083005111070"
                       class="btn btn-info" target="_blank">
                        <i class="fab fa-facebook-square me-1"></i>
                    </a>
                </p>
            </div>

            <div class="col col-lg-2">
                <p>
                    <a href="https://www.instagram.com/secondchancedesign91/"
                       class="btn btn-primary" target="_blank">
                        <i class="fab fa-instagram me-1"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
    <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

   
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        

{% endblock javascripts %}
</div>